services:
  db:
    image: postgres:16-alpine
    container_name: app_db_dev
    environment:
      POSTGRES_DB: ${DB_NAME:-dev_db}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

#  redis:
#    image: redis:7-alpine
#    container_name: app_redis_dev
#    ports:
#      - "6379:6379"

  web:
    build:
      context: .
      target: development
    container_name: app_web_dev
    volumes:
      - .:/app
    ports:
      - "8002:8000"
    env_file:
      - .env
    environment:
      - DEBUG=True
      - DB_HOST=db
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true

volumes:
  postgres_data: